docs/

final_data/fastqc/

final_data/fastqc_trimmed/

.Rproj.user/*
!.Rproj.user/.gitkeep

cutadapt_reports/*
!cutadapt_reports/.gitkeep

final_data/csv_output/*
!final_data/csv_output/.gitkeep

final_data/fastqc/*
!final_data/fastqc/.gitkeep

final_data/fastqc_trimmed/*
!final_data/fastqc_trimmed/.gitkeep

final_data/logs/*
!final_data/logs/.gitkeep

final_data/qc_lengths/*
!final_data/qc_lengths/.gitkeep

final_data/rdata_output/*
!final_data/rdata_output/.gitkeep

final_data/reference_db/*
!final_data/reference_db/.gitkeep

for_dada2/*
!for_dada2/.gitkeep

raw_fastqs/*
!raw_fastqs/.gitkeep

metadata/name2taxid_cache_12S.tsv.gz
metadata/FullLineage_12S.fasta
metadata/All_Chordata_12S_Amplicon_plus_Mitogenomes.fasta
metadata/acc2tax_cache_12S.tsv.gz
metadata/acc2org_cache_12S.tsv.gz
metadata/12S_fish_taxonomy.fasta
metadata/12S_fish_taxonomy_original.fasta